In [32]:
import pandas as pd
import numpy as np
import datetime

In [13]:
df = pd.read_csv("/home/drogon/Desktop/BI/show.csv")
print df.head()

      PatientId  AppointmentID Gender          ScheduledDay  \
0  2.987250e+13        5642903      F  2016-04-29T18:38:08Z
1  5.589980e+14        5642503      M  2016-04-29T16:08:27Z
2  4.262960e+12        5642549      F  2016-04-29T16:19:04Z
3  8.679510e+11        5642828      F  2016-04-29T17:29:31Z
4  8.841190e+12        5642494      F  2016-04-29T16:07:23Z

         AppointmentDay  Age      Neighbourhood Scholarship Hipertension  \
0  2016-04-29T00:00:00Z   62    JARDIM DA PENHA          No          Yes
1  2016-04-29T00:00:00Z   56    JARDIM DA PENHA          No           No
2  2016-04-29T00:00:00Z   62      MATA DA PRAIA          No           No
3  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI          No           No
4  2016-04-29T00:00:00Z   56    JARDIM DA PENHA          No          Yes

  Diabetes Alcoholism Handcap SMS_received No-show
0       No         No      No           No      No
1       No         No      No           No      No
2       No         No      No           No      No
3       No         No      No           No      No
4      Yes         No      No           No      No

In [23]:
print df.columns.values

['AppointmentID' 'Gender' 'ScheduledDay' 'AppointmentDay' 'Age'
 'Neighbourhood' 'Scholarship' 'Hipertension' 'Diabetes' 'Alcoholism'
 'Handcap' 'SMS_received' 'No-show']

In [24]:
print df.isnull().sum()

AppointmentID     0
Gender            0
ScheduledDay      0
AppointmentDay    0
Age               0
Neighbourhood     0
Scholarship       0
Hipertension      0
Diabetes          0
Alcoholism        0
Handcap           0
SMS_received      0
No-show           0
dtype: int64

In [ ]:
del df['AppointmentID']
del df['PatientId']

In [31]:
print df.columns.values

['Gender' 'ScheduledDay' 'AppointmentDay' 'Age' 'Neighbourhood'
 'Scholarship' 'Hipertension' 'Diabetes' 'Alcoholism' 'Handcap'
 'SMS_received' 'No-show']

In [34]:
print df.head()

  Gender          ScheduledDay        AppointmentDay  Age      Neighbourhood  \
0      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62    JARDIM DA PENHA
1      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA
2      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62      MATA DA PRAIA
3      F  2016-04-29T17:29:31Z  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI
4      F  2016-04-29T16:07:23Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA

  Scholarship Hipertension Diabetes Alcoholism Handcap SMS_received No-show
0          No          Yes       No         No      No           No      No
1          No           No       No         No      No           No      No
2          No           No       No         No      No           No      No
3          No           No       No         No      No           No      No
4          No          Yes      Yes         No      No           No      No

In [62]:
df = df.rename(columns={'Hipertension':'Hypertension'})
df = df.rename(columns={'Diabetes':'Diabetic'})
df = df.rename(columns={'Alcoholism':'Alcoholic'})

In [38]:
datetime = pd.to_datetime(df['ScheduledDay'])
print datetime

0        2016-04-29 18:38:08
1        2016-04-29 16:08:27
2        2016-04-29 16:19:04
3        2016-04-29 17:29:31
4        2016-04-29 16:07:23
5        2016-04-27 08:36:51
6        2016-04-27 15:05:12
7        2016-04-27 15:39:58
8        2016-04-29 08:02:16
9        2016-04-27 12:48:25
10       2016-04-27 14:58:11
11       2016-04-26 08:44:12
12       2016-04-28 11:33:51
13       2016-04-28 14:52:07
14       2016-04-28 10:06:24
15       2016-04-26 08:47:27
16       2016-04-28 08:51:47
17       2016-04-28 09:28:57
18       2016-04-26 10:54:18
19       2016-04-29 10:43:14
20       2016-04-27 07:51:14
21       2016-04-27 10:50:45
22       2016-04-25 13:29:16
23       2016-04-28 10:27:05
24       2016-04-29 14:19:19
25       2016-04-26 15:04:17
26       2016-04-29 14:19:42
27       2016-04-27 10:51:45
28       2016-04-29 15:48:02
29       2016-04-29 15:16:29
                 ...
110497   2016-06-01 09:46:33
110498   2016-06-08 10:21:14
110499   2016-06-01 09:42:56
110500   2016-06-08 09:35:13
110501   2016-06-01 10:19:12
110502   2016-06-08 10:50:42
110503   2016-06-01 13:00:36
110504   2016-06-08 11:06:21
110505   2016-06-01 10:45:50
110506   2016-06-01 11:09:20
110507   2016-06-08 09:04:18
110508   2016-06-01 09:41:00
110509   2016-06-08 08:50:51
110510   2016-06-01 09:35:48
110511   2016-06-08 08:50:20
110512   2016-06-08 08:20:01
110513   2016-06-08 07:52:55
110514   2016-06-08 08:35:31
110515   2016-06-06 15:58:05
110516   2016-06-07 07:45:16
110517   2016-06-07 07:38:34
110518   2016-04-27 15:15:06
110519   2016-04-27 15:23:14
110520   2016-05-03 07:51:47
110521   2016-05-03 08:23:40
110522   2016-05-03 09:15:35
110523   2016-05-03 07:27:33
110524   2016-04-27 16:03:52
110525   2016-04-27 15:09:23
110526   2016-04-27 13:30:56
Name: ScheduledDay, Length: 110527, dtype: datetime64[ns]

In [41]:
df['hour'] = datetime.dt.hour

  Gender          ScheduledDay        AppointmentDay  Age      Neighbourhood  \
0      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62    JARDIM DA PENHA
1      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA
2      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62      MATA DA PRAIA
3      F  2016-04-29T17:29:31Z  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI
4      F  2016-04-29T16:07:23Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA

  Scholarship Hipertension Diabetes Alcoholism Handcap SMS_received No-show  \
0          No          Yes       No         No      No           No      No
1          No           No       No         No      No           No      No
2          No           No       No         No      No           No      No
3          No           No       No         No      No           No      No
4          No          Yes      Yes         No      No           No      No

   hour
0    18
1    16
2    16
3    17
4    16

In [45]:
df['time_of_day'] = pd.cut(df['hour'],[0,5,12,16,20,23],include_lowest=True,labels = ['late_night','morning','afternoon','evening','night'])

  Gender          ScheduledDay        AppointmentDay  Age      Neighbourhood  \
0      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62    JARDIM DA PENHA
1      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA
2      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62      MATA DA PRAIA
3      F  2016-04-29T17:29:31Z  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI
4      F  2016-04-29T16:07:23Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA

  Scholarship Hipertension Diabetes Alcoholism Handcap SMS_received No-show  \
0          No          Yes       No         No      No           No      No
1          No           No       No         No      No           No      No
2          No           No       No         No      No           No      No
3          No           No       No         No      No           No      No
4          No          Yes      Yes         No      No           No      No

   hour time_of_day
0    18     evening
1    16   afternoon
2    16   afternoon
3    17     evening
4    16   afternoon

In [47]:
df['Month'] = datetime.dt.month

  Gender          ScheduledDay        AppointmentDay  Age      Neighbourhood  \
0      F  2016-04-29T18:38:08Z  2016-04-29T00:00:00Z   62    JARDIM DA PENHA
1      M  2016-04-29T16:08:27Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA
2      F  2016-04-29T16:19:04Z  2016-04-29T00:00:00Z   62      MATA DA PRAIA
3      F  2016-04-29T17:29:31Z  2016-04-29T00:00:00Z    8  PONTAL DE CAMBURI
4      F  2016-04-29T16:07:23Z  2016-04-29T00:00:00Z   56    JARDIM DA PENHA

  Scholarship Hipertension Diabetes Alcoholism Handcap SMS_received No-show  \
0          No          Yes       No         No      No           No      No
1          No           No       No         No      No           No      No
2          No           No       No         No      No           No      No
3          No           No       No         No      No           No      No
4          No          Yes      Yes         No      No           No      No

   hour time_of_day  Month
0    18     evening      4
1    16   afternoon      4
2    16   afternoon      4
3    17     evening      4
4    16   afternoon      4

In [59]:
del df['ScheduledDay']
del df['AppointmentDay']

In [55]:
for i, val in enumerate(df['No-show']):
    if val == 'No':
        df.iloc[i,9] = 0
    elif val == 'Yes':
        df.iloc[i,9] = 1

In [63]:
print df.head()

  Gender  Age      Neighbourhood Scholarship Hypertension Diabetic Alcoholic  \
0      F   62    JARDIM DA PENHA          No          Yes       No        No
1      M   56    JARDIM DA PENHA          No           No       No        No
2      F   62      MATA DA PRAIA          No           No       No        No
3      F    8  PONTAL DE CAMBURI          No           No       No        No
4      F   56    JARDIM DA PENHA          No          Yes      Yes        No

  Handcap SMS_received No-show  hour time_of_day  Month
0      No           No       0    18     evening      4
1      No           No       0    16   afternoon      4
2      No           No       0    16   afternoon      4
3      No           No       0    17     evening      4
4      No           No       0    16   afternoon      4

In [64]:
df.to_csv('/home/drogon/Desktop/BI/No-show(ETL).csv')