In [124]:
import pandas as pd
import numpy as np
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [74]:
df = pd.read_csv('/home/drogon/Desktop/BI/No-show(ETL).csv')

In [75]:
df.drop(df.columns[[0]], axis=1, inplace=True)

In [76]:
df.head()

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetic,Alcoholic,Handcap,SMS_received,hour,time_of_day,Month,No-show
0,F,62,JARDIM DA PENHA,No,Yes,No,No,No,No,18,evening,4,0
1,M,56,JARDIM DA PENHA,No,No,No,No,No,No,16,afternoon,4,0
2,F,62,MATA DA PRAIA,No,No,No,No,No,No,16,afternoon,4,0
3,F,8,PONTAL DE CAMBURI,No,No,No,No,No,No,17,evening,4,0
4,F,56,JARDIM DA PENHA,No,Yes,Yes,No,No,No,16,afternoon,4,0

In [77]:
df.dtypes

Gender           object
Age               int64
Neighbourhood    object
Scholarship      object
Hypertension     object
Diabetic         object
Alcoholic        object
Handcap          object
SMS_received     object
hour              int64
time_of_day      object
Month             int64
No-show           int64
dtype: object

In [115]:

list_encoded = ['Gender','Neighbourhood','Scholarship','Hypertension','Diabetic','Alcoholic','Handcap',
        'SMS_received']

# df['Gender'].astype('category').cat.codes
for i in list_encoded:
    df[i] = df[i].astype('category').cat.codes

In [116]:
df.head()

,Gender,Age,Neighbourhood,Scholarship,Hypertension,Diabetic,Alcoholic,Handcap,SMS_received,hour,Month,No-show,time_of_day_encoded
0,0,62,39,0,1,0,0,3,0,18,4,0,1
1,1,56,39,0,0,0,0,3,0,16,4,0,0
2,0,62,45,0,0,0,0,3,0,16,4,0,0
3,0,8,54,0,0,0,0,3,0,17,4,0,1
4,0,56,39,0,1,1,0,3,0,16,4,0,0

In [117]:
X = df.iloc[:,0:10]
Y = df.iloc[:,11]

In [126]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
clf_dt = tree.DecisionTreeClassifier()
clf_dt.fit(X_train,y_train)
predicted = clf_dt.predict(X_test)
metrics.accuracy_score(y_test,predicted)

0.7149793419584427

In [125]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)
clf_rf = RandomForestClassifier()
clf_rf.fit(X_train,y_train)
predicted = clf_rf.predict(X_test)
metrics.accuracy_score(y_test,predicted)

0.75306854850870053